.MultiChoice {
    :global .ms-Dropdown-title {
        height: auto;
        min-height: 32px;
        padding: 2px 28px 2px 5px;
        box-sizing: border-box;
    }

    .SelectedOptions {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        line-height: 30px;
        .Item {
            cursor: default;
            height: 26px;
            line-height: 26px;
            display: flex;
            align-items: center;
            gap: 8px;
            // background-color: #2b88d8;
            background-color: "[theme: themePrimary, default: #0078d7]";
            color: white;
            border-radius: 2px;
            padding: 0 5px 0 10px;

            .ItemText {
                display: block;
            }
            .ItemRemove {
                font-size: 10px;
                padding-top: 3px;
                line-height: 10px;
                cursor: pointer;
                color: #d4d4d4;
                &:hover {
                    color: white;
                }
            }

            &.DisabledItem{
                background-color: #b8b8b8;
                padding: 0 10px;
                .ItemRemove{
                    display: none;
                }
            }
        }
    }
}

.SelectAll {
    :global .ms-Checkbox-label {
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 0 8px;
        height: 36px;
        width: 100%;
    }
}
